<!DOCTYPE html>
<html>
	<head>
		<title>The BokBulBok</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<script src ="/media/js//jquery-1.6.4.min.js"></script>
		<link   href="/media/js/jquery/jquery.mobile-1.1.0.css" rel="stylesheet"/>
		<script src ="/media/js/jquery/jquery.mobile-1.1.0.min.js"></script>
		<script src ="/media/js/websocket.js"></script>
		<script src ="/media/js/room.js"></script>
		<script src ="/media/js/game.js"></script>
		<script src ="/media/js/bingo.js"></script>
		<script src ="/media/js/dice.js"></script>
		<script src ="/media/js/pirate.js"></script>
		<link 	href="/media/css/room.css" rel="stylesheet" >
		<script type="text/javascript">
			var room_seq = "{{room_seq}}";
			var userid = "{{userID}}";
			var nickname = "{{nickname}}";
			var owner = "{{owner}}";
			var sessionid = "{{sessionid}}";
			var gametype = "{{gametype_letter}}";
			var gameoption = "{{gameoption}}";
			var Flag_CoerciveExit = false ;
			var Flag_SelfCoerciveExit = false ;
			var Flag_Regame = false ;
			$(document).ready(function(){
				$.post("/checkLogin/",
				function(data){
					if(data=="false"){// already login
						alert('로그인을 해 주세요\n메인화면으로 이동합니다.')
						location.href="/";
					}
					else{			
						init(); // websocket connection
					}
				});
				viewGameOption("B");
				changeLadderOption()
				$('#debug input').keypress(function(e){
					if(e.keyCode==13) sendDebug();
				});
				$("#participant_list").css('display','none');
				$("#chat").css('display','block');
				chatAppend("새로고침이나 뒤로가기를 누르시면 방목록으로 이동됩니다.");
			});

			function pause(numberMillis) {
				var now = new Date();
				var exitTime = now.getTime() + numberMillis;

				while (true) {
					now = new Date();
					if (now.getTime() > exitTime)
						return;
				}
			}
			window.onbeforeunload=function(){
				if(Flag_CoerciveExit){
				}
				if(!Flag_Regame){
					goExit();
				}
				else if(play == true)
				{
					goExit();
					Flag_SelfCoerciveExit = true;
				}

				if(Flag_SelfCoerciveExit){
					location.href = '/roomlist/';
				}
			};
		</script>
	</head>
	
	<body id="body">
		
	<div data-role="page" class="type-interior">
	
		<!-- /header -->
		<div id="header" data-role="header" data-theme="a">
			<h3 data-inline="true">{{name}}</h3>
			<div id="unfold">
				<a onclick="view_config('room_info'); view_folding('fold');"data-role="button" data-icon="arrow-d" data-iconpos="notext" data-theme="a">unfold</a>
				</div>
			<div id="fold">
				<a onclick="view_config('none'); view_folding('unfold');" data-role="button" data-icon="arrow-u" data-iconpos="notext" data-theme="a">fold</a>
			</div>
		</div>
		<!-- /header -->
		
		<!-- /content -->
		<div id="content" data-role="content" data-theme="b">

			<!-- /room inform-->
			<div id="room_info">
				<div>참가자 : 
					<span id="joinUsers">{{curuser}}</span> / 
					<span id="maxUser">{{maxuser}}</span>
				</div>
				<div>
					방 종류 : <span id="roomType">{{roomtype}}</span>
				</div>
				<div>게임 종류 : 
					<span id="gameType">
						{{gametype_text}}
					</span>
				</div>
				<div>게임 옵션 : 
					<span id="gameOption">
						{{gameoption_text}}
				</div>
				<a id="config_change" onclick="view_config('room_config');" type="button" data-inline="true;">설정 변경</a>
			</div>
			<!-- /room inform -->

			<!-- /room config-->
			<div id="room_config">
				<div>
					<div id="participant_num" data-role="fieldcontain">
						<div>참가자</div>
					 	<input type="range" id="maxuser" name="maxuser" value="{{maxuser}}" min="2" max="8" data-theme="e" onchange="changeLadderOption(value)"/>
					</div>
					<div id='select_game_type'>
						<div>
							<span>게임 종류</span>
							<select name="gametype" id="gametype" data-native-menu="false" onchange="viewGameOption(value)">
								<option value="B">빙고</option>
								<option value="D">주사위</option>
								<!--option value="L">사다리</option-->
								<option value="P">해적</option>
							</select>
						</div>
						<div id="game_B">
							<label for="gameoption_B">빙고 줄</label>
							<input type="range" id="gameoption_B" name="gameoption_B" value="1" min="1" max="5" data-theme="a" data-track-theme="b"/>
						</div>
						<div id="game_D" class="dspn">
							<span>주사위값이 더 큰 사람이</span>
							<select id="gameoption_D" name="gameoption_D" data-role="slider" data-theme="a">
								<option value="L">패자</option>
								<option value="W">승자</option>
							</select>
						</div>
						<div id="game_L" class="dspn">
							<div type="hidden" id="gameoption_L" name="gameoption_L">
							</div>
						</div>
						<div id="game_P" class="dspn">
							<span>당첨 칼을 꽂는 사람이</span>
							<select id="gameoption_P" name="gameoption_P" data-role="slider" data-theme="a">
								<option value="L">패자</option>
								<option value="W">승자</option>
							</select> 
						</div>
					</div>
					<a id="config_confirm" type="button" data-inline="true;">적용</a>
				</div>
			</div>
			<!-- /room config -->

			<div id="chat">
			</div>
			<div id="participant_list">
				<p>참가자</p>
			</div>
			<div id="debug">
				<div></div>
				<input type="text" />
			</div>

			<!-- /game display-->
			<div id="gamedisplay">
				<!--user's turn-->
				<div>
					<center id="turn">
					</center>
				</div>
				<!-- /game message-->
				<div id="messageWindow">
				</div>

				<!-- /dice game-->
				<div id="dice">
					<center>
						<canvas id="dice_canvas">
							this browser is not support canvas element.<br>
							이 브라우저는 캔바스를 지원하지 않습니다.
						</canvas>
					</center>
					<div id="cast_dice">
						<a data-role="button" data-theme="b">던지기</a>
					</div>
				</div>
				<!-- /dice game-->

				<!-- pirate game -->
				<div id="pirate">
					<center>
						<canvas id="pirate_canvas">
							this browser is not support canvas element.<br>
							이 브라우저는 캔바스를 지원하지 않습니다.
						</canvas>
						<div>						
							<table id="pirate_table">
								<tr>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="0">1</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="1">2</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="2">3</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="3">4</a></td>
								</tr>
								<tr>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="4">5</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="5">6</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="6">7</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="7">8</a></td>
								</tr>
								<tr>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="8">9</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="9">10</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="10">11</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="11">12</a></td>
								</tr>
								<tr>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="12">13</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="13">14</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="14">15</a></td>
									<td><a data-role="button" data-mini="true" data-inline="true" data-theme="a" value="15">16</a></td>
								</tr>
							</table>
						</div>
					</center>
				</div>
				<!-- pirate game -->

				<!-- /ladder game-->
				<div id="ladder">
					<canvas>
						this browser is not support canvas element.<br>
						이 브라우저는 캔바스를 지원하지 않습니다.
					</canvas>
				</div>
				<!-- /ladder game-->

				<!-- /bingo game-->
				<div id="bingo">
					<center>
						<table id="bingoTable">
							<tr>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
							</tr>
							<tr>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
							</tr>
							<tr>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
							</tr>
							<tr>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td><!-- 중복시 색 -->
							</tr>
							<tr>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td><!-- 미 선택시 색 -->
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
								<td><a data-role="button" data-mini="true" data-inline="true" data-theme="b">x</a></td>
							</tr>
						</table>
					</center>
					<div>	
						<div id="bingoUnselect"></div><!-- 숫자 선택을 모두 하지 않고 완료시 경우 미 선택 숫자 표시-->
						<br>
						<label for="slider" class="ui-input-text ui-slider">수동 숫자 입력 (번호를 선택하고 입력할 위치를 선택하세요)</label>
				 		<input type="range" name="slider" id="currentSelect" value="1" min="1" max="25" data-theme="e"/><!-- 게임 시작 초기 설정 -->
						<a data-role="button" data-theme="a" id="inputEnd">작성 완료</a><!-- 게임 시작 초기 설정 -->
					</div>
					<div id="okSelect">
						<a data-role="button" data-mini="true" data-inline="true" data-theme="b">선택 완료</a><!-- 게임 중일 경우 -->
					</div>
					<div id="shoutbingo">
						<a data-role="button" data-theme="b">빙고 외치기</a><!-- 게임 중일 경우 -->
					</div>
				</div>
				<!-- /bingo game -->
				<div id="remaintime">남은 시간 : <span></span> 초 </div>
			</div>
			<!-- /game display-->
			<div id="gameResult">
			</div>

		</div>
		<!-- /content -->
		
		<!-- /footer -->	
		<div id="footer" data-role="footer" data-theme="a">
			<div id="chat_input_form">
				<div id="chat_input"><input type="text" id="msg"></div>
				<div id="chat_send" ><a type="button">전송</a></div>
			</div>
			<div id="divider"></div>
			<div>
				<div id="chat_list_button"><a type="button" onclick="viewChat();">채팅창</a></div>
				<div id="participant_button"><a type="button" onclick="viewParticipant();">참가자</a></div>
				<a id="exit_button" href="askexit.html" data-rel="dialog" type="button">종료</a>
				<div id="play_button">
					<a href="askplay.html" data-rel="dialog" type="button" id="start_button">시작</a>
					<a type="button" id="ready_button">준비</a>
					<a type="button" id="unready_button">준비취소</a>
				</div>
			</div>
		</div>
		<!-- /footer -->
		
	</div><!-- /page -->
	</body>
	
</html>

		
